body {
    background-color: rgb(67, 58, 69);
}

h1 {
    margin-top: 200px;
    margin-left: 350px;
    font-size: 70px;
    color: white;
    padding: none;
}

h2 {
    margin-top: 1px;
    margin-left: 30px;
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 1px;
}

button {
    border-radius: 30px;
    padding: 11px;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    border-color: lawngreen;
    background-color: transparent;
    color: white;
}

#w3s {
    color: palevioletred;
    display: inline;
}

#get {
    border-radius: 30px;
    width: 280px;
    margin-left: 520px;
    background-color: rgb(0, 128, 75);
    color: white;
    background-color: none;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

img {
    width: 40px;
}

#div2 {
    height: 180px;
    background-color: white;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    padding-bottom: none;

}

h3 {
    font-size: 27px;
    color: rgb(12, 134, 63);
}

#sec2 {
    height: 300px;
    background-color: rgb(67, 58, 69);
    display: block;
}

#how {
    color: white;
    text-align: center;
}

#imm {
    display: inline;

}

.pr {
    color: white;

}

#div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    width: 100%;
}

#div3 {
    padding-top: none;
    margin-top: none;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

#div4 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 17px;
}

#sec3 {
    height: 900px;
    background-color: rgb(248, 243, 249);
    display: block;

}

#h3a {
    color: black;
    font-size: 35px;
    text-align: center;
    padding-top: 40px;
}

#h3b {
    color: rgb(92, 89, 89);
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

#h3c {
    color: rgb(86, 85, 85);
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
}

#div5 {
    width: 287px;
    height: 600px;
    background-color: rgb(38, 33, 43);
    border-radius: 15px;
    margin-left: 250px;
    padding-bottom: 10px;
    display: inline;
    position: absolute;
}

#div6 {
    width: 255px;
    height: 40px;
    background-color: rgb(240, 217, 132);
    border-radius: 20px;
    margin-top: 15px;
    position: absolute;
    margin-left: 10px;
    display: flex;

}

#p1 {
    text-align: center;
    font-size: 23px;
    align-self: center;
    margin-left: 110px;

}

#h3d {
    color: white;
    font-size: 38px;
    padding-top: 90px;
    margin-left: 30px;
    display: inline;
}

#h3e {
    color: white;
    font-size: 18px;
    padding-top: 80px;
    display: inline-block;
    margin-left: 11px;

}

#h3f {
    color: white;
    font-size: 30px;
    display: block;
    margin-top: 20px;
    margin-left: 30px;
}

#p2 {
    color: white;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 30px;
}

#p3 {
    color: palevioletred;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p4 {
    color: white;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p5 {
    color: white;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p6 {
    color: white;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p7 {
    color: white;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p8 {
    color: white;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p9 {
    color: white;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p10 {
    color: white;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
    padding: none;
}

#div7 {
    width: 262px;
    height: 40px;
    background-color: rgb(246, 174, 239);
    border-radius: 20px;
    margin-top: none;
    position: absolute;
    margin-left: 10px;
    display: flex;

}

#p11 {
    text-align: center;
    font-size: 23px;
    align-self: center;
    margin-left: 40px;
}

#div8 {
    width: 287px;
    height: 600px;
    background-color: rgb(215, 211, 220);
    border-radius: 15px;
    margin-left: 550px;
    padding-bottom: 10px;
    margin-bottom: 400px;
    display: inline;
    position: absolute;
}


#div10 {
    width: 287px;
    height: 600px;
    background-color: rgb(215, 211, 220);
    border-radius: 15px;
    margin-left: 850px;
    padding-bottom: 10px;
    margin-bottom: 400px;
    display: inline-block;
}

#h4a {
    color: black;
    font-size: 38px;
    padding-top: 9px;
    margin-left: 30px;
    display: inline;
    margin-top: 63px;
    position: absolute;
}

#h4b {
    color: black;
    font-size: 19px;
    padding-top: 9px;
    margin-left: 131px;
    display: inline;
    margin-top: 77px;
    position: absolute;
}

#h4c {
    color: black;
    font-size: 30px;
    display: inline-block;
    margin-top: 155px;
    margin-left: 30px;
    padding-bottom: none;
}

#p12 {
    color: black;
    font-size: 16px;
    display: block;
    margin-top: 1px;
    margin-left: 30px;
}

#p14 {
    color: black;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p15 {
    color: black;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p16 {
    color: black;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p17 {
    color: black;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p18 {
    color: black;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p19 {
    color: black;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p20 {
    color: black;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#p21 {
    color: black;
    font-size: 16px;
    display: block;
    margin-top: 17px;
    margin-left: 75px;
}

#div11 {
    width: 190px;
    height: 40px;
    background-color: rgb(8, 169, 75);
    border-radius: 20px;
    margin-top: none;
    position: absolute;
    margin-left: 10px;
    display: flex;
}

#p22 {
    text-align: center;
    font-size: 19px;
    align-self: center;
    margin-left: 40px;
    color: white;
}